<h1>Login</h1>

<form action="/login" method="post">
    <input type="email" name="email" placeholder="enter email" required>
    <br><br>
    <input type="password" name="password" placeholder="enter password" required>
    <br><br>
    <input type="submit" value="login">
    <br><br>
</form>
